.app {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: stretch;
  padding: 30px;
}

.nav {
  border-bottom: 3px solid #f5f2f2; 
  margin: 20px;
  
}

.nav h1 {
  font-size:24px;
  font-weight: bold; 
  padding-bottom: 10px;
}

.list {
  margin-left:px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:20px;
  min-width: 50%;
  

}

.item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  padding: 10px;
  max-width: 80%;
}
.date-left-orange {
  display: flex;
  align-items: center;
  background-color: #FE7B10;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: -10px;
  max-width: 100px;
  justify-content: center;
  padding-left: 20px;
  margin-right: 10px;

}
.text {
  display: flex;
  gap: 7px;
  flex-direction: column;
}



.form {
  display: flex;
  flex-direction: column;
  width: 300px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px; 
  background: white; 
  border: 1px solid #ddd; 
  height: 40%;
}

.form h2 {
  margin-bottom: 20px;
  text-align: left;
}

.form label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 4px; 
  width: 100%;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #FE7B10;
  color: white;
  cursor: pointer;
  width: 100%;
}


.form button:hover {
  background-color: darkorange;
}

.venue {
  margin-top: -5px;
  color: #969696;
  font-size: 12px;
}

.date{
  color: #969696;
  font-size: 12px;
}

.first-item {
 display: flex;
 flex-direction: column;
 background-color: #FE7B10;
 color: #fff;
 padding: 20px

}

.next {
  font-size: 12px;
}

.event-info {
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;

}

.first-date-top {
  font-size: 28px; 
  font-weight: bold;
  
}

.event-info-h2 {
 font-size: 24px; 
}


.first-date {
  font-size: 12px;
  margin-top: 15px;
}
.first-venue {
  font-size: 12px;
}







