.app {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: stretch;
  padding: 30px;
}

.list {
  margin-left:100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:20px;
  

}

.item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  padding: 20px;
}
.date-left-orange {
  background-color: orange;
}
.text {
  display: flex;
  gap: 7px;
  flex-direction: column;
}



.form {
  display: flex;
  flex-direction: column;
  width: 300px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px; 
  background: white; /
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: orange;
  color: white;
  cursor: pointer;
}


.form button:hover {
  background-color: darkorange;
}







